h1{color: aqua;font-size: 50px;}

p{font-family: 'Times New Roman', Times, serif;
font-size: 24px;
text-align: left;}

.note {color: blueviolet; font-size: 30px;}
.bird {color: darkgreen;}
#flower {color: darkgoldenrod;}

.flex-container {display: flex; flex-direction: row; 
    width: 80%; flex-wrap: wrap; width: 80%; background-color:deeppink;}
.flex-container > div {background-color: aqua; 
    width: 100px; margin: 10px; text-align: center; 
    line-height: 75px; font-size: 30px;}

/*div {background-color: #F5DAA7; 
height: 250px; width: 80%; border-style: dashed; 
border-width: 4px; padding: 20px 30px 30px 50px; 
border-color: #A3485A; margin: 20px 30px 30px 50px;} */

h1 {font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 40px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 44px; } h3 { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 16.8px; } blockquote { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;}

img {float: right; margin: 10px 10px 10px 10px;}

/* div {background-image: url("cat.jpg");}
